
body, html {
  height: 100%;
  background-image: url("images/casino-background.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  
}

 /* Stylings for buttons */
 .btn-circle{
  border-radius: 50%
}

.btn-danger.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #b92c28;
  -moz-box-shadow:    0px 0px 3px 1px #b92c28;
  box-shadow:         0px 0px 3px 1px #b92c28;
}

  /* Class for Card Styling */
  .card{
    width: 125px;
    height: 160px;
    margin: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  color:red;
  text-shadow: 2px 2px black
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
} */


/* Index.html */

#page1 header #title-container{
  height: 100vh;
  width: 70vw;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
  align-content: strecth;
}
/* Page Header */
#page1 header .title{
    font-size: 5em;
    text-align: center;
    color: black;
  text-shadow: 2px 2px white
}

/* Right Card Fan */
#page1 .right{
  height: 35vh;
  transform: rotate(10deg);
  position: relative;
  right: 3vw;

}

/* Left Card Fan */
#page1 .left{
  height: 35vh;
  transform: rotate(-10deg);
}

/* Text Below Image */
#page1 header p{
  font-size: 2.5em;
  text-align: center; 
  color: white;
  text-shadow: 4px 4px black 
}

/* Start Button */
#page1 .start-button, #page3 .start-button {
  border-radius: 5%;
  background-color: red;
  padding: 15px;
  margin: 5px;
  width: 100px;  
}



/* Casino.html */

#page2{
  color: white;
  text-shadow: 2px 2px black
}

/* Center Text */
#page2 #victory{
  color: red;
  text-shadow: 2px 2px black;
}

/* Stylings for Intro Header*/
#page2 .intro{
  /* padding-left: 10vw; */
  text-align: center;
  color: white !important;

}

/* Stylings for Intro Container */
#page2 .intro-container{
margin-top: 35vh;
}

#page2 button{
  background-color: red;
  padding: 15px;
  margin: 5px;
  border-radius: 100%;
  width: 100px;
  }

  /* Betting Buttons */
#page2 .bet-buttons{
  padding: 7px;
}

  /* Styling for Displaying Sums, Bet Value, and Total */
  #page2 .sums, .left-values {
    font-size: 2em;
  }

  /* Current Bet and Player Values Larger Font-Size for Medium Screens and Up */
@media (min-width: 768px) 
{#page2 .left-values{
  font-size: 2.3em;
}
}

/* Larger Font-Size for Medium Screens and Up */
@media (min-width: 768px) 
{#page2 .scores{
  font-size: 1.3em;
}
}

/* Add Padding to Top Div */
#page2 #dealer-cards{
padding-top: 2vh;
/* overflow: hidden; */
}

/* Player Cards and Dealer Cards Div Resized to fit 30% of screen */
#page2 .cdh article {
  height: 30vh;
}

/* Card Animation */
/* #page2 article{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 95%;
    width: 300%; 
    -webkit-transform: rotate(0deg);
  }

  to {
    margin-left: 0%;
    width: 100%;
    -webkit-transform: rotate(360deg);
  }
} */


/* Blocks buttons from triggering functions */
#page2 .blocked{
  pointer-events: none;
}




/* Rules Page */
#page3 .container{
  width: 80vw;
  margin: auto;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px black
}
/* Page Header */
#page3 header .title{
    font-size: 5em;
    text-align: center;
}

/* Rules List Font-Size */
#page3 ol{
  font-size: 1.3em;
}

/* Rules List-Item Padding */
#page3 li{
  padding: 3px;
}

/* Header for Terms Section */
#page3 #terms h2{
  font-size: 2em;
}


